/* CSS declarations go here */

body {
	margin: 0;
	font-family: Consolas,Monaco,'Andale Mono',monospace;
}

.loginscreen {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
	background-color: #272822;
	height: 100vh;
	max-height: 100%;
}

.loginscreen .login {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
	color: #f8f8f2;
}

.loginscreen .login input {
	width: 10vw;
	height: 3vh;
	font-size: 1.1em;
	min-width: 150px;
    min-height: 25px;
}

.loginscreen .login .loginButton {
	cursor: pointer;
}

.loginscreen .login .registerswitch {
	cursor: pointer;
}

.loginscreen .register {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
	color: #f8f8f2;
}

.loginscreen .register .registerButton {
	cursor: pointer;
}

.loginscreen .register .loginswitch {
	cursor: pointer;
}

.loginscreen .register input {
	width: 10vw;
	height: 3vh;
	font-size: 1.1em;
	min-width: 150px;
    min-height: 25px;
}

.main {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
	height: 100vh;
	max-height: 100%;
	width: 100vw;
	max-width: 100%;
}

.menuleft {
	/*background-color: #044974;*/
	background-color: #272822;
	color: #f8f8f2;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	height: 100vh;
	max-height: 100%;
	width: 100px;
	overflow-x: hidden;
	-webkit-flex-shrink: 0;
	    -ms-flex-negative: 0;
	        flex-shrink: 0;
	-webkit-flex-basis: 100px;
	    -ms-flex-preferred-size: 100px;
	        flex-basis: 100px;
}

.phone-mode .menuleft {
	display: none;
	width: 150px;
	overflow-x: hidden;
	-webkit-flex-shrink: 0;
	    -ms-flex-negative: 0;
	        flex-shrink: 0;
	-webkit-flex-basis: 150px;
	    -ms-flex-preferred-size: 150px;
	        flex-basis: 150px;
}

.menuleft .channel {
	cursor: pointer;
	color: gray;
	padding-left: 5px;
    padding-top: 2px;
}

.menuleft .channel.active {
	color: #f8f8f2;
}

.menuleft .channel.unread {
	color: red;
}


.menuright {
	/*background-color: #044974;*/
	background-color: #272822;
	color: #f8f8f2;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	height: 100vh;
	max-height: 100%;
	/*width: 4vw;*/
	width: 100px;
	overflow-x: hidden;
	overflow-y: hidden;
	-webkit-flex-shrink: 0;
	    -ms-flex-negative: 0;
	        flex-shrink: 0;
	-webkit-flex-basis: 100px;
	    -ms-flex-preferred-size: 100px;
	        flex-basis: 100px;
}

@media (max-width: 768px) {
	.menuright {
		display: none;
	}
}

.menuright .user {
	color: #f8f8f2;
	padding-left: 5px;
	padding-top: 2px;
	text-overflow: ellipsis;
}

.menuright .user.idle {
	opacity: 0.5;
}

.menuright .user.op::before {
	font-size: 60%;
	content: "!";
}

.menuright .user:nth-of-type(1) {
	padding-top: 20px;
}

.content {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	height: 100vh;
	max-height: 100%;
	-webkit-flex-basis: 385px;
	    -ms-flex-preferred-size: 385px;
	        flex-basis: 385px;
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
	max-width: calc(100% - 200px);
}

.phone-mode .content {
	font-size: smaller;
	max-width: calc(100%);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.header {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
	padding-left: 1vw;
	padding-top: 1vh;
	height: 2vh;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	box-shadow: 0 0 1px gray;
	z-index: -1;
}

.header > span {
	padding-bottom: 7px;
	max-width: 60vw;
	text-overflow: ellipsis;
	overflow: hidden;
	flex-shrink: 0;
}

.phone-mode .header > span {
	flex-shrink: 1;
}

.phone-mode .header .header-topic {
	display: none;
}

.message-container {
  	display: -webkit-box;
  	display: -webkit-flex;
  	display: -ms-flexbox;
  	display: flex;
  	-webkit-box-orient: vertical;
  	-webkit-box-direction: reverse;
  	-webkit-flex-direction: column-reverse;
  	    -ms-flex-direction: column-reverse;
  	        flex-direction: column-reverse;
  	overflow-y: auto;
	height: 89vh;
	padding-top: 1vh;
	padding-left: 1vw;
	padding-right: 1vw;
}

.phone-mode .message-container {
	-webkit-overflow-scrolling: touch;
}

.message {
	margin: 5px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-flex-shrink: 0;
	    -ms-flex-negative: 0;
	        flex-shrink: 0;
}

.message a {
    color: #33b5e5;
    text-decoration: none;
}

.message a:visited {
    color: #33b5e5;
    text-decoration: none;	
}

.message.grouped {
	margin-top: 0;
}

.message.grouped .avatar {
	display: none;
}

.message.grouped .message-header {
	display:none;
}

.avatar-wrapper {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	min-width: 40px;
	padding: 1px;
}

.phone-mode .avatar-wrapper {
	min-width: 20px;
}

.avatar {
    height: 40px;
    width: 40px;
    min-height: 40px;
    min-width: 40px;
    background-color: transparent;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 4px;
}

.phone-mode .avatar {
    height: 20px;
    width: 20px;
    min-height: 20px;
    min-width: 20px;
}

.message-wrapper {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	margin-left: calc(1vw/1.5);
	overflow-x: hidden;
}

.message-header {

}

.message-header .user {
	color: #444444;
    font-weight: 900;
    font-size: 18px;
    line-height: 22px;
}

.phone-mode .message-header .user {
	font-size: 17px;
	line-height: 19px;
}

.message-header .user.ants {
	color: red;
}

.message-content {
	margin-top: calc(1vh/2);
	overflow: wrap;
	overflow-wrap: break-word;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	font-family: Lato, sans-serif;
}

.message.highlight {
    background-color: #fce8f1;
    padding: 1px;
    border-radius: 4px;
    /*border: 1px solid #ee7db0;*/
}


.inputarea {
	height: 6vh;
 	padding: 10px 20px 0px 20px;
    border-top: 1px solid #eaeaea;
    z-index: 100;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
}

.phone-mode .inputarea {
	height: 7vh;
}

.inputarea textarea {
	display: block;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-right: 38px;
    overflow-y: hidden;
    resize: none;
    line-height: normal;
    border: 1px solid #dfdfdf;
    background-color: #fff;
    border-radius: 2px;
    padding: 2px 8px;
    box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
    position: relative;
    width: 95vw;
    outline: none;
    font-family: Lato, sans-serif;
}

.inputarea i {
	padding-left: 8px;
}

.input-message.input-edit {
	background-color: #ef9a9a;
}

.time {
	font-size: 80%;
}

.dropzone {
    border: 2px dashed #bbb;
    border-radius: 5px;
    padding: 25px;
    text-align: center;
    font: 20pt bold 'Vollkorn';
    color: #bbb;
}

.alert {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.alert-warning {
	color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.quote {
	color: #789922;
}

.usermanager {
	display: flex;
	flex-direction: column;
	flex-basis: 60vh;
}

/*FIREFOX*/
.firefox-plz {
	justify-content: flex-end;
}
/*END FIREFOX*/

.pre-render {
	display: none !important;
}

.embed-picture {
	max-width:60vw; 
	max-height:50vh; 
	width: auto; 
	height: auto; 
	padding-top: 5px;
}

.embed-imgur {
	max-width:60vw; 
	max-height:50vh; 
	width: auto; 
	height: auto; 
	padding-top: 5px;
}

.embed-webm {
	max-width:70vw; 
	max-height:50vh; 
	width: auto; 
	height: auto; 
	padding-top: 5px;
}

.phone-mode .embed-webm {
	display: none;
}

.embed-gif img {
	max-width:60vw;
	max-height:50vh;
	width: auto;
	height: auto;
	padding-top: 5px;
	visibility: hidden;
}

.embed-gif:hover img {
	visibility: visible;
}

/* AUTOCOMPLETE*/
.-autocomplete-container {
    position: absolute;
    background: white;
    border: 1px solid #DDD;
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    min-width: 180px;
    z-index: 1000;
}

.-autocomplete-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.-autocomplete-item {
    display: block;
    padding: 5px 10px;
    border-bottom: 1px solid #DDD;
}

.-autocomplete-item.selected {
    color: white;
    background: #4183C4;
    text-decoration: none;
}

.dark-theme .message-container::-webkit-scrollbar {
    width: 14px;
}

.dark-theme .message-container::-webkit-scrollbar-thumb {
    background-color: #1e2124;
    background-clip: padding-box;
    border: 3px solid #36393e;
    border-radius: 2px;
}

.dark-theme .message-container::-webkit-scrollbar-track-piece {
    background-color: #2e3136;
    background-clip: padding-box;
    border: 3px solid #36393e;
    border-radius: 2px;
}


/* SLIDEOUTJS */
.slideout-menu {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  width: 128px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  display: none;
}

.slideout-panel {
  position:relative;
  z-index: 1;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block;
}

